#name{font-family: cursive;}
H1{font-family: cursive;}
body{background-color: orangered;}
#date{font-family: cursive;}
#text{font-family: cursive;}
#submit{font-family: cursive;}
#reset{font-family: cursive;}
